:root{
--Soft-violet: hsl(273, 75%, 66%);
--Soft-blue: hsl(240, 73%, 65%);
--Very-dark-desaturated-blue:hsl(238, 29%, 16%);
--Soft-red: hsl(14, 88%, 65%);
--Very-dark-grayish-blue: hsl(237, 12%, 33%);
--Dark-grayish-blue: hsl(240, 6%, 50%);
--Light-grayish-blue: hsl(240, 5%, 91%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--Soft-violet);
}

.container{
   border-radius: 20px;
   background-color: var(--Light-grayish-blue);
   margin:139px 20px 20px 20px;
   padding-left: 25px;
   padding-right: 25px;
   text-align: center;
}
.bg-img{
    background-image: url(images/illustration-woman-online-mobile.svg);
    height: 192px;
    background-size: 254px;
    background-repeat: no-repeat;
    position: relative;
    top: -109px;
}
.bg-pattern{
    background-image: url(images/bg-pattern-mobile.svg);
    height: 115px;
    background-size: 262px;
    background-repeat: no-repeat;
    position: relative;
    top: -187px;
}

